<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Clients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
        <h2>Clients</h2>
        <!--
        <a href="/clients/clientAddForm">Add Client</a>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Patronymic</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Passport</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${allClients}">
                <td th:text="${client.name}"></td>
                <td th:text="${client.surname}"></td>
                <td th:text="${client.patronymic}"></td>
                <td th:text="${client.phone}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.passport}"></td>
                <td><a th:href="@{edit/{id}(id=${client.id})}">Edit</a></td>
                <td><a th:href="@{delete/{id}(id=${client.id})}">Delete</a></td>
            </tr>

            </tbody>
        </table>-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Patronymic</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Passport</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${allClients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.surname}"></td>
                <td th:text="${client.patronymic}"></td>
                <td th:text="${client.phone}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.passport}"></td>
                <td><a th:href="@{edit/{id}(id=${client.id})}">Edit</a></td>
                <td><a th:href="@{delete/{id}(id=${client.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
</body>
</html>